[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

  .slide {
    display: block;
    height: 600px;
    width: 100%;
    margin: auto;
    position: relative;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-titulo {
  position: absolute;
  font-size: 3rem;
  font-family: Montserrat;
}

#titulo-1 {
  top: 50%;
  left: 5%;
  color: rgb(255, 255, 255);
}

#titulo-2 {
  top: 40%;
  left: 50%;
  color: rgb(61, 61, 61);
  text-shadow: none;
}

#titulo-3 {
  top: 50%;
  left: 5%;
  color: rgb(61, 61, 61);
  text-shadow: none;
}

.slide-button {
  position: absolute;
  top: 75%;
  left: 5%;
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  font-size: 1.3rem;
  color: #ffff;
  background-color: var(--color-blue);
  font-family: Roboto;
  font-weight: 700;
}

.slide-button a:visited {
  color: #ffff;
}

#slide-btn-2 {
  top: 73%;
  left: 50%;
}