body {
    background-color: #1e82c53e;
  }

.sec-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0% 0% 0%;
}

.div-sobre-nos {
    width: 50%;
}

.div-sobre-nos h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.div-sobre-nos p {
    font-size: 1.3rem;
    font-family: Roboto;
    font-weight: 300;
}

.topicos {
    padding: 5%;
}

.topicos p+p {
    margin-top: 25px;
}

/* SEÇÃO FALE CONOSCO */

.fale-conosco {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0%;
}

.btn-fale-conosco {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fale-conosco a {
    background-color: var(--color-green);
    color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 25px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-fale-conosco button span {
    margin-right: 5px;
}

.fale-conosco a:hover {
    width: 17%;
    font-size: 1.6rem;
}